.goods {
  flex-grow: 1;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.goods__title {
  font-weight: 400;
  margin-bottom: 1px;

}

.goods__weight {
  color: #B1B1B1;
  margin-bottom: 6px;
}