.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  overflow-y: auto;
  display: flex;
}

.modal__close {
  color: #B1B1B1;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 3px;
  transition: color .3s ease-in-out;
}

.modal__close:hover {
  color: #FF7020;
}


.modal__close:focus-visible {
  color: #FF7020;
  outline-color: #FF7020;
}


.mdelivery {
  position: relative;
  cursor: default;
  margin: auto;
  --gap: 8px;
  background-color: #FFFFFF;
  width: 100%;
  min-height: 100%;
  padding: 32px 10px;
  display: flex;
}

.container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 18px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  margin-bottom: 18px;

}


.fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.fieldset_radio {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  flex-direction: column;
  align-items: flex-start;
}


.fieldset_hide {
  visibility: hidden;
}


.input {
  width: 100%;
  height: 30px;
  border: 1px solid #F2F2F3;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: #000;
}

.input_half {
  flex-basis: calc((100% - var(--gap)) / 2);
}

.input::placeholder {
  color: #B1B1B1;
}

.label {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 12px;
}

.radio:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #F2F2F3;

}

.radio:after {
  content: '';
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.radio:checked:after {
  opacity: 1;
}

.submit {
  padding: 9px;
  background-color: #FF7020;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
  transition: transform .1s ease, background-color .3s ease-in-out;
}

.submit:hover {
  background-color: #FFAB08;
}

.submit:focus-visible {
  background-color: #F86310;
}

.submit:active {
  transform: translate(1px, 2px)
}

.submit:disabled {
  background-color: #F9F9F9;
  color: #ACACAC;
}

@supports not selector(:focus-visible) {
  .submit:focus {
    background-color: #F86310;
  }
}

@media (min-width: 480px) {
  .modal {
    padding: 10px;
  }

  .mdelivery {
    max-width: 524px;
    min-height: auto;
    padding: 20px 16px 29px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
  }

  .container {
    margin-left: 0;
  }

}

@media (min-width: 1024px) {
  .modal {
    padding: 20px;
  }

  .modal__close {
    top: 24px;
    right: 24px;
  }

  .mdelivery {
    max-width: 684px;
    padding: 44px 24px 24px 366px;
    background: url('../../assets/img/donut.svg') 19px center, linear-gradient(to right, #FFAB08 50%, #fff 50%);
    background-size: 302px, auto;
    background-repeat: no-repeat;
  }

  .title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .form {
    margin-bottom: 32px;
    gap: 16px;
  }

  .input {
    font-size: 12px;
    padding: 10px 12px;
    height: 40px;
  }

  .label {
    font-size: 12px;
  }

  .fieldset_radio {
    gap: 12px;
  }

  .submit {
    font-size: 16px;
  }
}